.search-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1900px;
  margin: 20px auto;
}

.search-bar {
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  margin-bottom: 10px;
}

.search-results-card {
  width: 90%;
  max-width: 1500px;
  margin-bottom: 10px;
  background-color: lightgray;
}

.search-results-card .card-body {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .search-results-card {
    max-width: 90%;
  }

  .search-bar {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .search-results-card {
    max-width: 80;
  }
}

.movie-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.movie-results-card {
  flex: 1 1 250px;
  min-width: 100px;
  max-width: 100%;
  padding: 10px;
  border: 1px solid #5c5b5b;
  border-radius: 5px;
}

.movie-results-card img {
  width: 100%;
  border-radius: 3px;
}

