<div class="login-container">
  <h2>Login</h2>
  <mat-card class="login-card">
    <form class="login-form">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary">Login</button>
    </form>
    <!-- <input type="button" onclick="signInWithGoogle()" value="Sign in with Google" /> -->
    <!-- Implement signin with google and other platforms here. This will be linked with FireBase via FireAuth -->
  </mat-card>
</div>