<mat-toolbar>
    <img src="assets/images/CineListLOGO.png" alt="Logo">
  <span class="logo" routerLink="/search/movie">CineList</span>
  
  <span class="spacer"></span>

  <button mat-button routerLink="/search/movie" routerLinkActive="active-link">Movies</button>
  <button mat-button routerLink="/movie/list" routerLinkActive="active-link">List</button>
  <button mat-button routerLink="/login" routerLinkActive="active-link">Logout</button>
  <!-- Create Logout Functionality here -->
</mat-toolbar>
